<!--<app-encabezado></app-encabezado>-->
<app-encabezado />
<main>
    <ul id="usuarios">
        <li>
            <app-usuario 
                [id]="usuarios[0].id" 
                [avatar]="usuarios[0].avatar"
                [nombre]="usuarios[0].nombre">
            </app-usuario>
        </li>
        <li>
            <app-usuario 
                [id]="usuarios[1].id" 
                [avatar]="usuarios[1].avatar"
                [nombre]="usuarios[1].nombre">
            </app-usuario>
        </li>
        <li>
            <app-usuario 
                [id]="usuarios[2].id" 
                [avatar]="usuarios[2].avatar"
                [nombre]="usuarios[2].nombre">
            </app-usuario>
        </li>
        <li>
            <app-usuario 
                [id]="usuarios[3].id" 
                [avatar]="usuarios[3].avatar"
                [nombre]="usuarios[3].nombre">
            </app-usuario>
        </li>
        <li>
            <app-usuario 
                [id]="usuarios[4].id" 
                [avatar]="usuarios[4].avatar"
                [nombre]="usuarios[4].nombre">
            </app-usuario>
        </li>
    </ul>
    
</main>
<app-tareas nombre="..."></app-tareas>