<!--<app-encabezado></app-encabezado>-->
<app-encabezado />
<main>
    <!-- valores acorde con el tipo de objeto -->
    <ul id="usuarios">
       @for (usuario of usuarios; track usuario.id) {
        <li>
            <app-usuario 
                [usuario]="usuario"
                [seleccionado]="usuario.id === idUsuarioSeleccionado"
                (seleccionarUsuario)="SeleccionarUsuario($event)"
                >
            </app-usuario>
        </li>
       }
    </ul>
    @if (usuarioSeleccionado) {
         <app-tareas
         [idUsuario]="usuarioSeleccionado.id" 
         [nombre]="usuarioSeleccionado.nombre"></app-tareas>
    }
    @else {
        <p id="textoCondicional">Seleccione un usuario de la lista</p>
    }
   
</main>