<!--<app-encabezado></app-encabezado>-->
<app-encabezado />
<main>
    <!-- valores acorde con el tipo de objeto -->
    <ul id="usuarios">
       @for (usuario of usuarios; track usuario.id) {
        <li>
            <app-usuario 
                [usuario]="usuario"
                (seleccionarUsuario)="SeleccionarUsuario($event)">
            </app-usuario>
        </li>
       }
    </ul>
    @if (usuarioSeleccionado) {
         <app-tareas [nombre]="usuarioSeleccionado.nombre"></app-tareas>
    }
    @else {
        <p id="textoCondicional">Seleccione un usuario de la lista</p>
    }
   
</main>